@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --vibrant-rgb: 14, 165, 233;
  --body-text-rgb: 72, 85, 99;
  --border-rgb: 229, 231, 235;
  --gray-bg-rgb: 248, 249, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    /* Updated to keep it white in dark mode */
    --background-end-rgb: 255, 255, 255;
    /* Updated to keep it white in dark mode */
  }
}

body {
  color: rgb(var(--body-text-rgb));
  background-color: rgb(var(--background-end-rgb));
  /* Removed gradient and made it a solid color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: rgb(var(--gray-bg-rgb));
  color: rgb(var(--body-text-rgb));
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: rgb(var(--border-rgb));
}

.pagination .active {
  background-color: rgb(var(--border-rgb));
  color: rgb(var(--foreground-rgb));
}

.pagination button:focus {
  outline: none;
}

.pagination button svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
  .sidebar-container {
    display: none;
  }
}